@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --header-font: 'Patrick Hand';
  --body-font: 'Poppins';
  --primary-color: #F7A234;
  --secondary-color: rgb(36, 171, 160);
  --page-background: #f8f4f4;
}

/* general styles */
body {
  background-color: var(--page-background);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}


/* Hero section */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(36, 171, 160, 0.7)),
    url('../img/community/images/hero_image.jpg');
   
  background-size: cover;
  background-position: center center;
  height: 450px;
}

.hero-btn {
  padding: 10px 15px;
  background-color: var(--primary-color);
  font-family: var(--body-font);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: Poppins;
  font-weight: 600;
}

.hero-1,
.hero-0 {
  color: white;
}

.hero-0 {
  font-family: var(--body-font);
}

.hero-1 {
  font-family: 'Patrick Hand';
}


.provider-text {
  font-family: var(--body-font);
}

.provider-text-header {
  font-family: 'Patrick Hand';
  margin-top: -20px;
  color: var(--primary-color);
}

.provider-intro {
  font-family: var(--body-font);
}


.provider-card {
  position: relative;
  width: 230px;
  height: 460px;
  padding-bottom: 15px;
  font-family: var(--body-font);
  margin-bottom: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.provider-hours {
  font-size: 8px;
  position: absolute;
  width: 75px;
  text-align: center;
  padding: 0;
  border-radius: 15px;
  right: 4px;
  top: 5px;
  color: white;
  background: var(--secondary-color)
}

.provider-contact {
  padding: 5px 8px;
  margin-left: 15px;
}

.provider-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.provider-name {
  font-family: 'Patrick Hand';
  font-weight: 800;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

 .provider-title {
  font-family: var(--body-font);
  margin-top: -1rem;
  padding-left: 1rem;
}

.provider-details {
 margin-top: -0.5rem;
 padding-left: 1rem;
}

/* NEWS ARTICLE SECTION */
.news-art-head {
  font-family: var(--header-font);
  font-weight: 400;
  line-height: 10%;
  color: var(--primary-color);
}

.news-art-subhead {
  font-family: var(--body-font);
  font-weight: 500;
}

.right-arrow,
.left-arrow {
  width: 45;
  height: 45;
  border-radius: 40px;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--secondary-color);

}

.right-arrow {
  background-color: var(--secondary-color);
  margin-left: 10px;

}

.news-art-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 8px;
  padding-bottom: 15px;
}

.news-art-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-details {
  position: absolute;
  font-size: 10px;
  width: 200px;
  left: 140px;
  top: 185px;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: var(--body-font);
}

.art-date {
  padding: 0 5px;
  border-left: 2px solid;
  border-right: 2px solid;
  margin: 0 2px;
}

.art-title {
  color: var(--primary-color);
  text-align: center;
  font-family: 'Patrick Hand';
  margin-bottom: 0;
  margin-top: 25px;
}

.art-summary {
  font-family: var(--body-font);
  font-weight: 400;
  text-align: center;
  padding: 0px 15px;

}

.support-title {
  font-family: var(--header-font);
  color: var(--primary-color);
}

.form-container {
  max-width: 540px;
}

input,
textarea {
  background: #fff;
  resize: none;
}
