@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#v-details-hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(36, 171, 160, 0.5)), url(../img/3634f5dc81e16c0e1093f1bfc27c45f36df32e4e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#v-details-hero p{
    font-family: "Patrick Hand";
    font-weight: 400;
    font-size: 60px;
    color: white;
}
.volunteer-details{
    background-color: aliceblue;
}

.main_box {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
     
}

.box_1>img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.box_2 {
    height: auto;
    max-width: 60%;
}

.box_2_content {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.name p {
    font-size: 1.7rem;
    font-family: "Patrick Hand";
    font-weight: 400;
    color: rgba(247, 162, 52, 1);
}

.name span {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    font-family: "Poppins";
}

.social_icons >img {
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
}

.box_2_text p {

    font-size: 1em;
    padding: 0px 20px;
    color: rgba(140, 140, 140, 1);
    font-family: "Poppins";
    font-weight: 400;
}

.box_2_bottom {
    margin-top: 15px;
}

.box_2_div {
    display: flex;
    padding: 0px 20px;
}

.box_2_detail {
    padding: 10px;
    width: 50%;
    display: flex;
    gap: 30px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 0px;
    border-color: #000;
    border-style: solid;
    align-items: center;
}

.box_2_detail1 {
    padding: 10PX;
    width: 50%;
    display: flex;
    gap: 30px;
    border-top: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
    align-items: center;
}

.box_2_detail2 {
    padding: 10PX;
    width: 50%;
    display: flex;
    gap: 30px;
    border-top: 1px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
    align-items: center;
}

.box_2_detail3 {
    padding: 10PX;
    width: 50%;
    display: flex;
    gap: 30px;
    border-top: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
    align-items: center;
}

.box_2_icon img {
    padding: 10px;
    background-color: #fff;
    align-items: center;
    border-radius: 50%;
}

.box_2_info>.box_2_gen {
    font-size: 1rem;
    color: rgba(140, 140, 140, 1);
    font-family: "Poppins";
    font-weight: 400;
}

.box_2_info>.box_2_gen2 {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 8px;
    font-family: "poppins";
    font-weight: 600;
}

.box_2_button {
    margin: 20px 20px;
    text-align: center;
    display: flex;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    background: rgba(247, 162, 52, 1);
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
    color: #fff;
}

/* ========== Responsive Styles ========== */

 @media (max-width: 1024px) {
    .box_2_content {
    padding: 5px 20px;
}
.name p {
    font-size: 1.4rem;
}
    .box_2_text p {
    font-size: 0.7rem;
}
.name span {
    font-size: 0.8rem;
}
.box_2_detail2 {
    padding: 5PX;
}
.box_2_detail1 {
    padding: 5PX;
}
.box_2_detail3 {
    padding: 5PX;
}
.box_2_detail4 {
    padding: 5PX;
}
.box_2_info>.box_2_gen {
    font-size: 0.7rem;
}

.box_2_info>.box_2_gen2 {
    font-size: 1rem;
    padding-top: 5px;
}
.box_2_icon img {
    padding: 5px;
}
.box_2_button {
    padding: 8px 22px;
}
} 

 @media (max-width: 900px){
    .box_2_info>.box_2_gen2 {
    font-size: 0.75rem;
    padding-top: 5px;
    }
    .box_2_text p {
    font-size: 0.6rem;
}
.name p {
    font-size: 1.2rem;
}

.name span {
    font-size: 0.8rem;
}
.box_2_button {
    margin: 20px 20px;
    padding: 8px 22px;
    font-size: 0.8rem;
    color: #fff;
}
}

@media (max-width: 850px){
    .box_2_info>.box_2_gen2 {
    font-size: 0.66rem;
    padding-top: 5px;
    } 
    .box_2_detail2 {
    padding: 5PX;
}
.box_2_detail1 {
    padding: 3PX;
}
.box_2_detail3 {
    padding: 3PX;
}
.box_2_detail4 {
    padding: 3PX;
}
.box_2_button {
    margin: 10px 20px;
    padding: 7px 20px;
    font-size: 0.5rem;
    color: #fff;
}
}
@media (max-width: 800px){
    #v-details-hero p{
    font-size: 43px;
}
    .box_2_info>.box_2_gen2 {
    font-size: 0.6rem;
    padding-top: 5px;
    }
    .box_2_info>.box_2_gen {
    font-size: 0.5rem;
    padding-top: 5px;
    }
    .name p {
    font-size: 1.1rem;
}
.name span {
    font-size: 0.7rem;
}
  .box_2_text p {
    font-size: 0.7rem;
}
 .box_2_text p {
    font-size: 0.5rem;
}
} 

/* Tablet view (max-width: 768px) */

@media (max-width: 768px) {
   #v-details-hero p{
    font-size: 40px;
}
    #v-details-hero {
        font-size: 2rem;
        padding: 120px;
        text-align: center;
        height: auto;
    }

    .container {
        height: auto;
        padding: 20px 1%;
    }

    .main_box {
        flex-direction: column;
        align-items: center;
    }

    .box_1> img {
        position: relative;
        max-width: 50%;
        height: auto;
       left: 26%;
    }

    .box_2 {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .box_2_info>.box_2_gen2 {
    font-size: 1rem;
    padding-top: 5px;
    }
    .box_2_info>.box_2_gen {
    font-size: 0.9rem;
    padding-top: 5px;
    }
    .box_2_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .box_2_text p {
        font-size: 1rem;
        padding: 15px 10px;
    }

    .box_2_div {
        flex-direction: column;
        padding: 0;
    }

    .box_2_detail,
    .box_2_detail1,
    .box_2_detail2,
    .box_2_detail3 {
        width: 100%;
    }

    .box_2_button {
        margin-top: 25px;
        padding: 10px 0px;
        padding-left: 10px;
        max-width: 100%;
        width: 90%;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
     .box_2_icon img {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-left: 5px;
    }

}

/* Mobile view (max-width: 480px) */
@media (max-width: 480px) {
       #v-details-hero p{
    font-size: 35px;
}
    .name p {
        font-size: 1.4rem;
    }
    
    .box_2_text p {
        font-size: 0.9rem;
        padding: 15px 10px;
    }

    .box_2_info .box_2_gen2 {
        font-size: 1rem;
    }

    .box_2_icon img {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-left: 5px;
    }

    .social_icons img {
        width: 30px;
        height: 30px;
    }

    .box_2_button {
        font-size: 0.9rem;
        padding: 10px;
    }
} 

/* screen size 320 */
@media (max-width: 480px) {
       #v-details-hero p{
    font-size: 30px;
}
    .name p {
        font-size: 1.4rem;
    }

    .box_2_info .box_2_gen2 {
        font-size: 0.8rem;
    }
    .box_2_info .box_2_gen {
        font-size: 0.7rem;
    }

    .box_2_icon img {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-left: 5px;
    }

    .social_icons img {
        width: 30px;
        height: 30px;
    }

    .box_2_button {
        font-size: 0.9rem;
        padding: 10px;
    }
     .box_2_button {
        font-size: 0.7rem;
        padding: 10px;
    }
} 